<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<%= @user.errors.messages%>
<%= form_for @user, url: { action: "create"} do |f|%>
    <%=f.text_field :name%>
    <%= f.submit "Create"%>
<% end%>